<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <h1>hello wolrd</h1>

  <form action="/" method="post">
    <input type="URL" name="logUrl">
    <input type="submit" value="전송">
  </form>
  
  <table>
    <thead>
      <tr>
        <td>long Url</td>
        <td>short Url</td>
      </tr>
    </thead>
    <tbody>
    <!-- data라는 변수 객체 안에서 데이터를 반복해서 넣을 때 forEach(정의-> 배열마다 돌며 한번씩 함수를 실행한다.)를 사용한다. -->
    <% data.forEach(item => { %>
      <tr>
        <td><%= item.longUrl %></td>
        <td><a href="/<%= item.id %>" target="_blank"><%= item.id %></a></td>        
      </tr>
    <% }) %>
    </tbody>
  </table>
</body>
</html>